{% extends "base.html" %}

{% block title %}Panel de usuario{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand"><h3>Bienvenido/a {{request.session.user.name}}!</h3></a>            
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                {% block botones_superiores %}
                <a class="btn btn-outline-dark" href="/logout">Logout</a>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 offset-2 mt-5">
            <h4>Calendario de viajes</h4>
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th class="col-2" scope="col">Destino</th>
                        <th class="col-2" scope="col">Desde</th>
                        <th class="col-2" scope="col">Hasta</th>
                        <th class="col-4" scope="col">Descripción</th>
                        <th class="col-2" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personal in all_the_personal_travels %}
                    <tr>
                        <th scope="row">
                            <a href="/travels/{{personal.id}}">{{personal.destination}}</a>
                        </th>
                        <td>{{personal.start_date}}</td>
                        <td>{{personal.end_date}}</td>
                        <td>{{personal.plan}}</td>
                        <td class="">
                            {% if trip.creator == request.session.user.name %}
                                {% for created in all_the_personal_travels_created %}                               
                                <form class="ms-4" action="/travels/{{created.id}}/destroy" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm" type="submit">Eliminar</button>
                                </form>
                                {% endfor %}
                            {% else %}
                                <div>-</div>
                            {% endif %}                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-end">
                <div class="col-4">
                    <a type="button" class="btn btn-lg btn-secondary px-5 mt-2" href="/travels/new">Agregar un nuevo viaje</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9 offset-3 mt-5">
            <h4>Planes de viaje de otros usuarios</h4>
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th class="col-2" scope="col">Destino</th>
                        <th class="col-2" scope="col">Desde</th>
                        <th class="col-2" scope="col">Hasta</th>
                        <th class="col-4" scope="col">Descripción</th>
                        <th class="col-2" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for other in all_the_other_users_travels %}
                    <tr>                            
                        <th scope="row">
                            <a href="/travels/{{other.id}}">{{other.destination}}</a>
                        </th>
                        <td>{{other.start_date}}</td>
                        <td>{{other.end_date}}</td>
                        <td>{{other.plan}}</td>
                        <td class="">
                            <form class="ms-4" action="/travels/{{other.id}}/join" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm" type="submit">¡Quiero ir!</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block libreria %}
{% endblock %}