{% extends "base.html" %}

{% block title %}Panel de usuario{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand"><h3>Bienvenido {{request.session.user.name}}!</h3></a>            
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                {% block botones_superiores %}
                <a class="btn btn-outline-dark" href="/logout">Logout</a>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-5">
            <h4>Calendario de viajes</h4>
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th scope="col">Destino</th>
                        <th scope="col">Desde</th>
                        <th scope="col">Hasta</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for travel in all_the_travels %}
                    <tr>                            
                        <th scope="row">
                            
                                {% csrf_token %}
                                <a href="/travels/{{travel.id}}">{{travel.destination}}</a>
                            
                        </th>
                        <td>{{travel.start_date}}</td>
                        <td>{{travel.end_date}}</td>
                        <td>{{travel.plan}}</td>
                        <td id="form">
                            <form action="/travels/{{travel.id}}/edit" method="POST">
                            {% csrf_token %}
                                <button type="submit">Cancelar</button>
                            </form>
                            <form action="/travels/{{travel.id}}/destroy" method="POST">
                            {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-4">
                    <a type="button" class="btn btn-lg btn-secondary px-5 mt-2" href="/travels/new">Reservar hora</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block libreria %}
{% endblock %}