{% extends "base.html" %}

{% block title %}Ver destino{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">         
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                {% block botones_superiores %}
                <a class="btn btn-outline-dark me-2" href="/travels">Ir atrás</a>
                <a class="btn btn-outline-dark" href="/logout">Logout</a>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <ul class="list-group">
                <a href="" class="list-group-item list-group-item-action list-group-item-dark px-5">
                    <h4>{{a_travel.destination}}</h4>
                </a>
                <a href="" class="list-group-item list-group-item-action px-5 py-3">
                    <strong>Planeado por:</strong> {{a_travel.creator}}
                </a>
                <a href="" class="list-group-item list-group-item-action px-5 py-3">
                    <strong>Descripción:</strong> {{a_travel.plan}}
                </a>
                <a href="" class="list-group-item list-group-item-action px-5 py-3">
                    <strong>Desde:</strong> {{a_travel.start_date}}
                </a>
                <a href="" class="list-group-item list-group-item-action px-5 py-3">
                    <strong>Hasta:</strong> {{a_travel.end_date}}
                </a>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 offset-1 mt-5">
            <ul class="list-group">
                <a href="" class="list-group-item list-group-item-action list-group-item-dark px-5">
                    <h4>¿Quiénes van?</h4>
                </a>
                {% for traveller in a_travel.travellers.all %}
                <a href="" class="list-group-item list-group-item-action px-5 py-3">
                    {{traveller.firstname}} {{traveller.lastname}}
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


  